.dd{
    height: 100px;
    width: 100px;
}
.menu a{
    text-decoration: none;
    
    color:white;
    padding: 10px 10px;
    margin: auto;
}
.menu :hover{
    font-weight: bold;
}



.footer-item {
    font-size: 15px;
    color: bisque;
}

.footer-item.text-decoration-none:hover {
    text-decoration: underline !important;
}